.layout {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
.navbar {
   background-color: #666;
   color: white;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   padding: 0;
   position: fixed;
}
.content {
   flex: 1;
   margin-top: 64px;
}
.container-button {
   display: flex;
   padding: 6px;
}
.container-nav-button {
   display: flex;
}
.container-nav-user {
   padding: 12px;
   height: 52px;
   display: flex;
   align-items: center;
}
.container-nav-user span {
   margin-bottom: 4px;
   margin-left: 12px;
   font-size: 18px;
   padding: 0;
}
.nav-button-container {
   display: flex;
   padding-top: 6px;
   padding-left: 6px;
   padding-right: 6px;
}
.language-selector {
   display: flex;
   gap: 10px;
   margin-left: auto;
}
.language-selector button {
   background-color: transparent;
   border: 1px solid white;
   color: white;
   padding: 5px 10px;
   cursor: pointer;
   border-radius: 5px;
}
.language-selector button:hover {
   background-color: white;
   color: black;
}
